<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
<Product Id='79086527-df6c-4454-8997-26b349605f51' Name='Terminator' Language='1033'
UpgradeCode='978872f0-7b6b-11da-a72b-0800200c9a66'
Version='1.0.$(env.REVISION)' Manufacturer='software.jessies.org'>
<Package Id='????????-????-????-????-????????????' Compressed='yes' InstallerVersion='150' />

<Property Id="ARPCONTACT">software@jessies.org</Property>
<Property Id="ARPURLINFOABOUT"> http://software.jessies.org/terminator/</Property>
<Property Id="ARPPRODUCTICON" Value='terminator.ico' />

<Media Id='1' Cabinet='project.cab' EmbedCab='yes' />

<Property Id='RUBYW'>
<DirectorySearch Id='RUBYW.dir' Path='\cygwin\bin' Depth='0'>
<FileSearch Id='RUBYW.file' Name='rubyw.exe' />
</DirectorySearch>
</Property>

<Directory Id='TARGETDIR' Name='SourceDir'>
<Directory Id='ProgramFilesFolder' Name='Name' LongName='Program Files'>
<Directory Id='company' Name='Name' LongName='software.jessies.org'>
<Directory Id='product' Name='Name' LongName='terminator'>
<Component Id='StandardFiles'>
<File Id='README' Name='README.txt' DiskId='1' src='README' />
<File Id='COPYING' Name='COPYING.txt' DiskId='1' src='COPYING' />
</Component>
<Merge Id='salma_hayek.d7665d40-3540-11da-8cd6-0800200c9a66'
Language='1033' src='../salma-hayek/.generated/native/Cygwin/WiX/Cygwin/salma-hayek.msm' DiskId='1' />
<?include component-definitions.wxi ?>
</Directory>
</Directory>
</Directory>
<Directory Id='DesktopFolder' Name='Desktop'/>
<Component Id='RubyShortcut'>
<Registry Id='RegistryKey' Root='HKCU' Key='Software\software.jessies.org\terminator' Name='ShortcutTarget'
    Action='write' Type='string' Value='[RUBYW]' KeyPath='yes' />
<Shortcut Id='DesktopShortcutId' Directory='DesktopFolder' Name='Name'
LongName='terminator' Target='[RUBYW]' Arguments='bin/terminator' WorkingDirectory='product'
Icon='terminator.ico' />
</Component>
</Directory>

<Feature Id='product' Title='terminator' Level='1'>
<ComponentRef Id='StandardFiles' />
<ComponentRef Id='RubyShortcut' />
<MergeRef Id='salma_hayek.d7665d40-3540-11da-8cd6-0800200c9a66' />
<?include component-references.wxi ?>
</Feature>
<Icon Id='terminator.ico' src='native/Cygwin/WiX/terminator.ico' />

</Product>

</Wix>
