<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
<Product Id='79086527-df6c-4454-8997-26b349605f51' Name='Terminator' Language='1033'
Version='$(env.REVISION)' Manufacturer='http://software.jessies.org/~software/downloads/terminator/'>
<Package Id='????????-????-????-????-????????????' Compressed='yes' />

<Media Id='1' Cabinet='project.cab' EmbedCab='yes' />

<Directory Id='TARGETDIR' Name='SourceDir'>
<Directory Id='ProgramFilesFolder' Name='Name' LongName='Program Files'>
<Directory Id='company' Name='Name' LongName='software.jessies.org'>
<Directory Id='product' Name='Name' LongName='terminator'>
<Component Id='StandardTextFiles'>
<File Id='README' Name='README.txt' DiskId='1' src='README' />
<File Id='COPYING' Name='COPYING.txt' DiskId='1' src='COPYING' />
</Component>
<Merge Id='salma-hayek.d7665d40-3540-11da-8cd6-0800200c9a66'
Language='1033' src='../salma-hayek/.generated/native/Cygwin/WiX/Cygwin/salma-hayek.msm' DiskId='1' />
<?include component-definitions.wxi ?>
</Directory>
</Directory>
</Directory>
</Directory>

<Feature Id='product' Title='terminator' Level='1'>
<ComponentRef Id='StandardTextFiles' />
<MergeRef Id='salma-hayek.d7665d40-3540-11da-8cd6-0800200c9a66' />
<?include component-references.wxi ?>
</Feature>

</Product>

</Wix>
