<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
<Product Id='79086527-df6c-4454-8997-26b349605f51' Name='Terminator' Language='1033'
Version='1.0.0' Manufacturer='software.jessies.org'>
<Package Id='????????-????-????-????-????????????'
Description='A Java terminal emulator'
Manufacturer='software.jessies.org' InstallerVersion='200' Compressed='yes' />

<Media Id='1' Cabinet='project.cab' EmbedCab='yes' />

<Directory Id='TARGETDIR' Name='SourceDir'>
<Directory Id='ProgramFilesFolder' Name='Name' LongName='Program Files'>
<Directory Id='company' Name='Name' LongName='software.jessies.org'>
<Directory Id='product' Name='Name' LongName='terminator'>
<?include component-definitions.wxi ?>
</Directory>
</Directory>
</Directory>
</Directory>

<Feature Id='product' Title='terminator' Level='1'>
<?include component-references.wxi ?>
</Feature>

</Product>

</Wix>
