body {
    margin:20px 80px 100px;
}
h1 {
    margin-left:-40px;
}
h2 {
    margin-left:-40px;
}
pre {
    margin-left:40px;
}

div.leftcol {
  float: left;
}
div.rightcol {
  float: right;
}
div.footer {
  width: 100%;
  clear: both;
  color: #888888;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 75%;
}

table.header {
  margin-top:-20px;
  margin-left: -80px;
  margin-bottom:20px;
  border: 1px solid #8cacbb;
  border-style: none solid solid none;
  background-color: #dee7ec;
  font-family: sans-serif;
  font-size: smaller;
  padding-right: 25%;
}
table.header th {
  padding:10px;
  border-right: 3px solid #8cacbb;
  text-align: center;
}
table.header td {
  padding:10px;
  border-right: 1px dotted #8cacbb;
  text-align: center;
}
