<?xml version='1.0'?>
<!-- formatted with tidy -xml -indent -m installer.wxs -->
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Product Id='$(env.PRODUCT_GUID)'
  Name='$(env.HUMAN_PROJECT_NAME) $(env.VERSION_STRING)'
  Language='1033' UpgradeCode='$(env.UPGRADE_GUID)'
  Version='$(env.VERSION_STRING)'
  Manufacturer='software.jessies.org'>
    <Package Id='????????-????-????-????-????????????'
    Compressed='yes' InstallerVersion='150' />
    <Upgrade Id='$(env.UPGRADE_GUID)'>
      <UpgradeVersion Maximum='$(env.VERSION_STRING)' />
    </Upgrade>
    <Property Id='ALLUSERS' Value='2' />
    <Property Id="ARPCONTACT">software@jessies.org</Property>
    <Property Id='ARPNOMODIFY' Value='1' />
    <Property Id="ARPPRODUCTICON"
    Value='$(env.MACHINE_PROJECT_NAME).ico' />
    <Property Id="ARPURLINFOABOUT">
    http://software.jessies.org/$(env.MACHINE_PROJECT_NAME)/</Property>
    <Media Id='1' Cabinet='project.cab' EmbedCab='yes' />
    <Property Id='CYGWIN_HKLM'>
      <RegistrySearch Id='RUBYW_HKLM.dir' Root="HKLM"
      Key='Software\Cygnus Solutions\Cygwin\mounts v2\/'
      Name='native' Type='directory' />
    </Property>
    <Property Id='RUBYW_HKLM'>
      <DirectorySearch Id='RUBYW_HKLM.dir' Path='[CYGWIN_HKLM]\bin'
      Depth='0'>
        <FileSearch Id='RUBYW_HKLM.file' Name='rubyw.exe' />
      </DirectorySearch>
    </Property>
    <Property Id='CYGWIN_HKCU'>
      <RegistrySearch Id='RUBYW_HKCU.dir' Root="HKCU"
      Key='Software\Cygnus Solutions\Cygwin\mounts v2\/'
      Name='native' Type='directory' />
    </Property>
    <Property Id='RUBYW_HKCU'>
      <DirectorySearch Id='RUBYW_HKCU.dir' Path='[CYGWIN_HKCU]\bin'
      Depth='0'>
        <FileSearch Id='RUBYW_HKCU.file' Name='rubyw.exe' />
      </DirectorySearch>
    </Property>
    <Condition Message="Cygwin and Cygwin Ruby must be installed">
    RUBYW_HKLM OR RUBYW_HKCU</Condition>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='Name'
      LongName='Program Files'>
        <Directory Id='company' Name='Name'
        LongName='software.jessies.org'>
          <Directory Id='product' Name='Name'
          LongName='$(env.MACHINE_PROJECT_NAME)'>
            <?include component-definitions.wxi ?>
            <Directory Id='Resources' Name='Name'
            LongName='Resources'>
              <Directory Id='projectResources' Name='Name'
              LongName='$(env.MACHINE_PROJECT_NAME)'>
                <Directory Id='bin' Name='Name' LongName='bin'>
                  <Component Id='Path' Guid='$(env.PATH_GUID)'>
                    <CreateFolder />
                    <Environment Id='UpdatePath' Name='PATH'
                    Action='create' System='yes' Part='last'
                    Value='[bin]' />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id='DesktopFolder' Name='Desktop' />
      <Component Id='RubyShortcut_HKLM'
      Guid='$(env.SHORTCUT_HKLM_GUID)'>
        <Registry Id='RegistryKey_HKLM' Root='HKMU'
        Key='Software\software.jessies.org\$(env.MACHINE_PROJECT_NAME)'
        Name='ShortcutTarget' Action='write' Type='string'
        Value='[RUBYW_HKLM]' KeyPath='yes' />
        <Shortcut Id='DesktopShortcutId_HKLM'
        Directory='DesktopFolder' Name='Name'
        LongName='$(env.HUMAN_PROJECT_NAME)' Target='[RUBYW_HKLM]'
        Arguments='bin/$(env.MACHINE_PROJECT_NAME)'
        WorkingDirectory='projectResources'
        Icon='$(env.MACHINE_PROJECT_NAME).ico' />
      </Component>
      <Component Id='RubyShortcut_HKCU'
      Guid='$(env.SHORTCUT_HKCU_GUID)'>
        <Registry Id='RegistryKey_HKCU' Root='HKMU'
        Key='Software\software.jessies.org\$(env.MACHINE_PROJECT_NAME)'
        Name='ShortcutTarget' Action='write' Type='string'
        Value='[RUBYW_HKCU]' KeyPath='yes' />
        <Shortcut Id='DesktopShortcutId_HKCU'
        Directory='DesktopFolder' Name='Name'
        LongName='$(env.HUMAN_PROJECT_NAME)' Target='[RUBYW_HKCU]'
        Arguments='bin/$(env.MACHINE_PROJECT_NAME)'
        WorkingDirectory='projectResources'
        Icon='$(env.MACHINE_PROJECT_NAME).ico' />
      </Component>
    </Directory>
    <Feature Id='shortcut_HKLM'
    Title='$(env.HUMAN_PROJECT_NAME) shortcut' Level='0'>
      <ComponentRef Id='RubyShortcut_HKLM' />
      <Condition Level='1'>CYGWIN_HKLM AND RUBYW_HKLM</Condition>
    </Feature>
    <Feature Id='shortcut_HKCU'
    Title='$(env.HUMAN_PROJECT_NAME) shortcut' Level='0'>
      <ComponentRef Id='RubyShortcut_HKCU' />
      <Condition Level='1'>CYGWIN_HKCU AND RUBYW_HKCU</Condition>
    </Feature>
    <Feature Id='product' Title='$(env.HUMAN_PROJECT_NAME)'
    Level='1'>
      <ComponentRef Id='Path' />
      <?include component-references.wxi ?>
      </Feature>
    <InstallExecuteSequence>
      <RemoveExistingProducts After='InstallInitialize' />
    </InstallExecuteSequence>
    <Icon Id='$(env.MACHINE_PROJECT_NAME).ico'
    src='Resources/$(env.MACHINE_PROJECT_NAME)/lib/$(env.MACHINE_PROJECT_NAME).ico' />
  </Product>
</Wix>
